#calibration-menu-container {
    position: relative;
    justify-self: center;
    left: 5%;
}
.card {
    width: 90%;  
    justify-content: center;
    justify-self: center;
}
.card-body {
    text-align: center;
}
.card-title {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}